<html>
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <title>OpenvClouDash</title>
</head>
<body>
<div class="row">
{% for status in statusses %}
<div class="col s6 m2">
<div class="card lighten-1 {{colormap[status.status]}}">
    <div class="card-content white-text">
        <span class="card-title">{{status.name}}</span>
        <p>{{status.status}}</p>
    </div>
    <div class="card-action {{colormap[status.status]}} grey-text">
        <a href="{{status.url}}/grid/Status Overview">Status Overview</a>
    </div>
</div>
</div>
{% endfor %}
</div>
</body>
</html>